/* styles.css */

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f4f4f4;
    border-radius: 4px;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #4a45d8;
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    margin: 2px;
    border-radius: 10px;
    background: #D9D9D9;
}

.radio-button {
    display: inline-block;
    position: relative;
    padding-top: 2px;
    padding-left: 25px;
    cursor: pointer;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    user-select: none;
}

.radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-button__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #F0F0F0;
    border-radius: 50%;
}

/*.radio-button:hover input ~ .radio-button__indicator {*/
/*    background-color: #bbb;*/
/*}*/

.radio-button input:checked ~ .radio-button__indicator {
    background-color: #F0F0F0;
}

.radio-button__indicator:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-button input:checked ~ .radio-button__indicator:after {
    display: block;
}

.radio-button .radio-button__indicator:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4A45D8;
}

